.about {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.about-inner {
    position: absolute;
    top: -20vh;
    left: -20vw;
    width: 140vw;
    height: 140vh;
    transform: rotate(10deg);
    display: flex;
    z-index: 1;
}

.left-side, .right-side {
    flex: 1;
    height: 100%;
}

.left-side {
    background-color: black;
    box-shadow: 
    0px 10px 0px white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 50px;
    margin-left: 25%;
    margin-top: -25%;
}

.left-side .nama {
    display: flex;
    justify-content: center;
    transform: rotate(-6deg);
    padding: 10px;
    width: 30vw;
    height: 12vh;
    text-align: center;
    align-items: center;
    margin-bottom: auto;
    cursor: pointer;
    user-select: none;

    font-size: 3rem;
    letter-spacing: 3px;
    color: red;
    background-color: black;
    outline: 5px solid white;
    text-shadow: 4px 3px 0px white;

    transition: transform 0.1s ease, outline-color 0.2s ease;
}

.left-side .nama:hover {
    transform: scale(1.1) rotate(-4deg);
    outline: 5px solid red;
}

.left-side .profile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: rotate(-6deg);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 0.9rem;
    letter-spacing: 2px;
    user-select: none;
}

.left-side .profile .row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.left-side h3 {
    color: red;
    white-space: nowrap;
}

.left-side h3 span {
    color: white;
}

.radar-chart {
    position: relative;
    display: flex;
}

.right-side {
    background-color: red;
    box-shadow: 
    0px -10px 0px white;
}

.tear-line {
    width: 15px;
    height: 100%;
    position: relative;
    z-index: 2;
    background: white;
}