.about {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.about-inner {
    position: absolute;
    top: -20vh;
    left: -20vw;
    width: 140vw;
    height: 140vh;
    transform: rotate(10deg);
    display: flex;
    z-index: 1;
}

.left-side, .right-side {
    flex: 1;
    height: 100%;
}

.left-side {
    background-color: black;
    box-shadow: 
    0px 10px 0px white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    gap: 6vh;
    transform: rotate(-10deg);
    margin-left: 30%;
    margin-top: 5%;
    height: 80vh;
    width: 40vw;
    animation: PopInAnimation 0.5s ease-out forwards;
}

.left-side .nama {
    display: flex;
    justify-content: center;
    transform: rotate(-3deg);
    padding: 10px;
    width: 30vw;
    height: 12vh;
    text-align: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    font-size: 3rem;
    letter-spacing: 3px;
    color: red;
    background-color: black;
    outline: 5px solid white;
    text-shadow: 4px 3px 0px white;

    transition: transform 0.1s ease, outline-color 0.2s ease;
}

.left-side .nama:hover {
    transform: scale(1.1) rotate(-6deg);
    outline: 5px solid red;
}

.left-side .profile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: rotate(-2deg);
    width: 45vw;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 0.9rem;
    letter-spacing: 2px;
    user-select: none;
}

.left-side .profile .row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.left-side h3 {
    color: red;
    white-space: nowrap;
}

.left-side h3 span {
    color: white;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-self: center;
    gap: 10px;
    width: 40vw;
    height: 30vh;
    margin-top: 15%;
    transform: rotate(5deg);
    background-color: black;
    outline: 5px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: -32px 32px 0 rgba(85, 85, 85, 0.582);
}

.caption h2 {
    z-index: 99;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    width: auto;
    height: auto;
    padding: 15px;
    margin-top: -3%;
    margin-left: 60%;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: black;
    outline: 3px solid white;
}

.caption p {
    font-size: 1rem;
    font-weight: 900;
    color: white;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    line-height: 1.5;
    letter-spacing: 1px;
}

.right-side {
    background-color: red;
    box-shadow: 
    0px -10px 0px white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right-side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    transform: rotate(-10deg);
    gap: 7vh;
    margin-right: 30%;
    margin-top: -20%;
    height: 80vh;
    width: 40vw;
    animation: PopInAnimation 0.5s ease-out forwards;
    user-select: none;
    /* outline: 2px solid white; */
}

.right-side .skill {
    position: relative;
    display: flex;
    font-size: 6rem;
    font-weight: 900;
    color: white;
    -webkit-text-stroke: 3px black;
    text-shadow: -8px 6px 0px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    transform: rotate(-3deg);
    transform-style: preserve-3d;
    margin-top: -7%;
    width: 35vw;
}

.right-side .programming {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-self: flex-start;
    gap: 10px;
    width: 32vw;
    height: 16vh;
    transform: rotate(-5deg);
    background-color: black;
    outline: 5px solid white;
    box-shadow: 24px 24px 0 #c70e07;
}

.programming h2 {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: flex-start;
    margin-left: -5%;
    margin-top: -5%;
    transform: rotate(-4deg);

    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    width: auto;
    height: auto;
    padding: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: black;
    outline: 3px solid white;
}

.programming p {
    font-size: 1rem;
    font-weight: 900;
    color: white;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    line-height: 1.5;
    letter-spacing: 1px;
    /* outline: 1px solid white; */
}

.right-side .framework {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-self: flex-end;
    gap: 10px;
    width: 32vw;
    height: 16vh;
    transform: rotate(5deg);
    background-color: black;
    outline: 5px solid white;
    box-shadow: -24px 24px 0 #c70e07;
}

.framework h2 {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: flex-end;
    margin-right: -5%;
    margin-top: -5%;
    transform: rotate(4deg);

    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    width: auto;
    height: auto;
    padding: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: black;
    outline: 3px solid white;
}

.framework p {
    font-size: 1rem;
    font-weight: 900;
    color: white;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    line-height: 1.5;
    letter-spacing: 1px;
}

.right-side .others {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    align-self: flex-start;
    gap: 10px;
    width: 32vw;
    height: 16vh;
    transform: rotate(-5deg);
    background-color: black;
    outline: 5px solid white;
    box-shadow: 24px 24px 0 #c70e07;
}

.others h2 {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: flex-start;
    margin-left: -5%;
    margin-top: -5%;
    transform: rotate(-4deg);

    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1px;
    width: auto;
    height: auto;
    padding: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: black;
    outline: 3px solid white;
}

.others p {
    font-size: 1rem;
    font-weight: 900;
    color: white;
    text-align: start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    line-height: 1.5;
    letter-spacing: 1px;
}

.tear-line {
    width: 15px;
    height: 100%;
    position: relative;
    z-index: 2;
    background: white;
}


/* Animation Thing */
@keyframes PopInAnimation {
    0% {
        transform: rotate(-10deg) scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: rotate(-10deg) scale(1);
        opacity: 1;
    }
}

@keyframes spinSpark {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}