.about {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.about-inner {
    position: absolute;
    top: -20vh;
    left: -20vw;
    width: 140vw;
    height: 140vh;
    transform: rotate(10deg);
    display: flex;
    z-index: 1;
}

.left-side, .right-side {
    flex: 1;
    height: 100%;
}

.left-side {
    background-color: black;
    box-shadow: 
    0px 10px 0px white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-side .nama {
    font-size: 3rem;
    margin: 0;
    color: white;
}

.left-side .test {
    font-size: 3rem;
    margin: 0;
    color: white;
}

.left-side h3 {
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 0;
    color: red;
}

.left-side h3 span {
    color: white;
    margin-left: 20px;
}

.right-side {
    background-color: red;
    box-shadow: 
    0px -10px 0px white;
}

.tear-line {
    width: 15px;
    height: 100%;
    position: relative;
    z-index: 2;
    background: white;
}