*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

body{
  margin: 0;
  background-color: #111;
  color: white;
  font-family: 'Impact', sans-serif;
}

@font-face {
  font-family: 'Expose Regular';
  src: url('./assets/fonts/Expose-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}